@font-face {
  font-family: "FS Joey";
  src: url("../fonts/FSJoeyWeb-Regular.eot"); /* IE9 */
  src: url("../fonts/FSJoeyWeb-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/FSJoeyWeb-Regular.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FS Joey";
  src: url("../fonts/FSJoeyWeb-Bold.eot"); /* IE9 */
  src: url("../fonts/FSJoeyWeb-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/FSJoeyWeb-Bold.woff") format("woff"); /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}