<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/stylesheets/foundation.css" />
        <style>

        </style>
    </head>
    <body>
        <h1>Slim</h1>
        <div>a microframework for PHP</div>

            <h2>Hello {{ name }} !</h2>
    <div class="l-grid">
            <form class="row" action="/testmail" method="post">

                <div class="column small-12 large-6">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname">
                </div>
                <div class="column small-12 large-6">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="lastname">
                </div>

                <div class="column small-12 large-6">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email">
                </div>

                <div class="column small-12 large-6">
                    <label for="telephone">Telephone</label>
                    <input type="text" id="telephone" name="telephone">
                </div>

                <div class="column small-12 large-12">
                    <label for="message">Message</label>
                    <textarea rows="6" id="message" name="message"></textarea>
                </div>

                <div class="column small-12 text-right">
                    <button>Submit</button>
                </div>

            </form>
    </div>

    </body>
</html>
